{% extends "base.html" %}
{% block content %}

{% for fields in form_message %}
<form method = "post">
{% csrf_token %}
  <p> Are you sure you want to post this?
    <br> {{ fields.name }} 
    <br>{{ fields.message }}
 </p>
  <input type="hidden" id="name" name="name" value="{{ fields.name }}"><br>
  <input type="hidden" id="message" name="message" value="{{ fields.message }}"><br><br>
  <button class="btn btn-outline-info" type="submit">POST</button>
  <a class="btn btn-outline-danger" href="{% url 'index' %}">CANCEL</a>
</form> 
{% endfor %}

{% endblock content %}