{% extends "base.html" %}
{% block content %}

    <div class="container">
        <form class="input-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name: </label>
                <input id="name" name="name" value="{{ message.name }}"><br>
                <label for="message">message: </label>
                <input id="message" name="message" value="{{ message.message }}"><br><br>
            </div>
            <button class="btn btn-outline-info" type="submit">POST</button>
        </form>
    </div>

    <div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Mesage</th>
            </tr>
        </thead>
        <tbody>
            {% for fields in messages %}
            <tr>
                <th scope="row">{{ fields.name }}</th>
                <td>{{ fields.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </div>

{% endblock content %}